html, body
{
  /* Prepara el estilo paraque se vea mejor en celulares, aprovecha al maximo la pantalla y centra el texto y
    demas elementos para que se ve mejor en celulares */
    margin: 0;
    padding: 0;
    text-align: justify;
  /* Agrego algo de color */
    background-color: #cf3311;
    color: #dedeed; 
}

em
{
  color: #111111;
}

/* Establezco un color legible para los
   enlaces sin visitar, cuando pasa el mouse
   y para cuando ya se visito */
a
{
  color: #00bbbb;
}

a:hover
{
  color: #dedeed;
}

a:visited
{
  color: #424242;
  text-decoration: none;
}

img
{
 /* Mejoro posicionamiento de las imagenes */ 
  margin-left: 0.8em;
  border-radius: 0.4em;
}

p
{
 /* Mejora espaciado entre parrafos para que no agrego espacios de mas y sea mas legible */ 
  margin: 0.3em;
  padding: 0.1em;
}

li
{
  /* Añadi espaciado entre los elementos de la lista */
    margin: 0.5em;
}
